.movie-item{
    width: 300px;
    height: 500px;
    font-size: 0.8rem;
    color: white;
    background-color: #161a1d;
    transition: transform 0.5s;
}
.movie-item img{
height: 90%;
width: 100%;
}
.movie-item:hover{
    transform: scale(1.1);
}
.movie-info{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}